body {
    font-family: Arial, sans-serif;
    background-color: green;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #1e3a8a;
    padding: 40px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1f2937;
    border-radius: 10px;
}

h1, h2 {
    color: #d6fa60;
}