body {
    font-family: Arial, sans-serif;
    background-color: green;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #1e3a8a;
    padding: 40px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1f2937;
    border-radius: 10px;
}

h1, h2 {
    color: #d6fa60;
}

.profile-box {
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #60a5fa;
    color: #111827;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
}
.github-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #60a5fa;
    color: #111827;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.github-button:hover {
    background-color: white;
}
